.list-section
  display: flex;
  flex-direction: column;
  height: 100%;

  .list-section-item
    margin-bottom: 1em;

    .office-title
      font-weight: bold;
    
    i 
      padding-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      color: #d2d2d2;

    .social-item
      display: flex;
      flex-direction: row;
      align-items: center;

      .social-type
        text-transform: capitalize;
        font-weight: bold;
