.container {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* padding: 13px 3%; */
  top: 0px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 13px;
  padding-bottom: 13px;
  /* box-shadow: 0px 3px 25px rgba(46, 46, 46, 0.5); */
  /* border-bottom: solid 1px rgba(247, 247, 247, 0.4); */
  transition: top 0.2s ease-in-out;
}

.hideNav {
  background: white !important;
  box-shadow: unset !important;
}

.overlay:before {
    height: 0px !important;
}

.burgerMenuNavItem {
  display: none;
}

.navItem {}

.burgerMenu {
  color: #0DD4D2;
  margin-right: 20px;
  font-size: 1.7em;
  cursor: pointer;
  position: relative;
  z-index: 99;
}

.mobileNavOverlay {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #12d6ea;
  top: 0px;
  height: 100%;
  transition: height 0.25s ease-in;
  overflow: hidden;
}

.overlayClosed {
  height: 0% !important;
}

/* Rotate first bar */

.change1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 9px) !important;
  transform: rotate(-45deg) translate(-10px, 9px) !important;
  background-color: white !important;
}

/* Fade out the second bar */

.change2 {
  opacity: 0 !important;
  background-color: white !important;
}

/* Rotate last bar */

.change3 {
  -webkit-transform: rotate(45deg) translate(-2px, -2px) !important;
  transform: rotate(45deg) translate(-2px, -2px) !important;
  background-color: white !important;
}

.mobileNavOverlayOptionsContainer {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2em;
  font-family: 'Roboto', sans-serif;
}

.overlaySection {
  text-transform: none !important;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2em;
  color: #00ffd7;
}

.overlayItem {
  font-size: 1em !important;
  padding: 5px !important;
  font-size: 20px !important;
  margin-left: 0 !important;
  text-transform: none !important;
  text-decoration: none;
  color: white;
}

.overlayItemMain {
  font-size: 1em !important;
  padding: 5px !important;
  font-size: 20px !important;
  margin-left: 0px !important;
  text-transform: none !important;
}

@media (max-width: 900px) {
  .navItem {
    display: none;
  }
  .signInButton {
    display: none;
  }
  .burgerMenuNavItem {
    display: block;
  }
}
