.container {

}

.bottomStrip {
    background-color: #131313;
    padding: 1em;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10em;
    padding-right: 10em;
}

.bottomStrip > div {
    padding-right: 2em;
    cursor: pointer;
}

.linksContainer {
        display: flex;
    font-size: 16px;
    align-items: flex-start;
    padding: 4em;
        flex-direction: row;
            padding-left: 10em;
    padding-right: 10em;
}

.menuSection {
    display: flex;
    flex-direction: column !important;
    padding-right: 4em;
}

.menuHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 11px;
}

.menuItem {
    cursor: pointer;
}

.socialLinksContainer {
        display: flex;
    flex-direction: row;
}

.socialLink {
background: #2b2b2b;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    padding: 8px;
    display: block;
    margin-right: 7px;
}