.container {
    padding: 3em;
    padding-left: 1em;
    padding-right: 2em;
    max-width: 1200px;
    margin: 0 auto;
}


.flexContainerLeft {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 30px;
}

.flexContainerLeft > div {
        padding-right: 50px;
}

.flexContainerRight {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.flexContainerRight > div {
padding-left: 50px;
}

.flexItem {
    width: 50%;
    max-width: 510px;
}

.container img {
        height: 13em;
}


.container div {
    font-size: 18px;
    color: #506c80;
    margin-bottom: 17px;
}

.container h1 {
    font-size: 18px;
    color: #2B2B2B;
        font-size: 2rem;
}