
.pageContainer {
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
    max-width: 1000px;
    margin: 0 auto;
}

.introContainer {
    text-align: center;
}

.introContainer h1 {
    margin-bottom: 0px;
}

.introContainer > img {
    border-radius: 100%;
    margin-top: 2em;
        max-width: 180px;
}

.content {
    font-size: 19px;
}