
.outerContainer {
        margin-bottom: 2.4em;
}

.container {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.container > div {
    margin-right: 2em;
    cursor: pointer;
}