.title {

}

.sub {

}

.how {
        border-left: solid 5px #768484;
    padding-left: 2em;
    margin-left: 2em;
    margin-top: 2em;
    color: #768484;
    font-size: 1.6em;
    line-height: 1.4em;
}

@media (max-width: 700px) {

}

@media (max-width: 650px) {
    .how {
            margin-left: 0;
    padding-left: 0.7em;
    font-size: 1.3em;
    }
}