.flexContainer {
    display: flex;
}

.imageContainer {
    width: 60%;
    padding-right: 3em;
    padding-bottom: 3em;
    /* padding-left: 3em; */
}

.textContainer {
    width: 40%;
}

@media (max-width: 650px) {
    .flexContainer {
            display: flex;
    flex-direction: column;
    }

    .imageContainer {
        width: 100%;
        padding-right: 0px;
    }

    .imageContainer img {
        margin: 0;
    }

    .textContainer {
        width: 100%;
    }
}