
$primary-blue: #0C3DD1;
$primary-teal: #21ADE3;

@mixin flex($property) 
  display: flex;
  flex-direction: $property;


// ===================================
// ===== Explore Companies ===========
// ===================================

.featured-explore-slider-container
  overflow: hidden;

.featured-explore-company
  display: flex;
  min-height: 280px;

  > div
    width: 50%;
    text-align: center;

  .featured-explore-company-desc
    background: linear-gradient(75deg, $primary-blue, $primary-teal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2em;
    color: white;

    div
      max-width: 320px;
      text-align: left;
      margin: 0 auto;

      p
        font-family: 'Roboto', 'Nunito', 'sans-serif';
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-weight: bold;


      h2
        color: white;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;

      div
        margin-bottom: 20px;


      a 
        text-decoration: none;
        background-color: #3700B3;
        color: white;
        font-size: 15px;
        padding: 15px;
        border-radius: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;

      a:hover
        background-color: #571fd4; 

  .featured-explore-company-image
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

// Companies showcase section
// @desc Displays a bunch of other non-featured companies
// that are just within the app and have completed explore
// profiles.

.companies-showcase-container
  background: #F9F9F9;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;

  h1
    color: #6C6C6C;
    font-weight: normal;
  
  p 
    color: #6C6C6C;
    opacity: 0.8;
    max-width: 600px;
    margin: 0 auto;

  .companies-showcase-items
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1147px;
    margin: 0 auto;
    padding-top: 2.5em;

    .company-sc-item
      max-width: 300px;
      margin: 13px;
      margin-bottom: 2em;
      min-height: 400px;
      min-width: 342px;
      box-shadow: 0 14px 28px 0 hsla(0,0%,56%,.2);
      border-radius: 3px;

      .sc-item-branding
        height: 140px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      
      .learn-more
        i 
          padding-left: 10px;
      
      .sc-item-logo-container
        max-width: 75px;
        margin: 0 auto;
        height: 55px;
        position: relative;
        top: -28px;

        img 
          border-radius: 4px;
          border: solid 5px white;
          background: white;
          box-shadow: 0 7px 11px 0 rgba(143, 143, 143, 0.2);
      
      h3 
        font-weight: 300;
      
  .cta
    font-weight: bold;
    font-family: Roboto;
    a 
      color: blue;
      text-decoration: none;

// ======================================
// ===== Company Page ===================
// ===== /components/company/CompanyShowcase.js
// ===== /components/company/CompanyHeader.js

.company-header-container
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #e1e1e1;
  > div
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

  > div:nth-child(1)
    width: 65%;  
  > div:nth-child(2)
    width: 35%;
    border-left: solid 1px #e1e1e1;

  .company-header-main
    @include flex(column);
    padding-left: 15px;
    padding-right: 15px;

    > div:nth-child(1)
      font-weight: bold;

    > div:nth-child(2)
      opacity: 0.8;

  @media (max-width: 800px) 
    flex-direction: column;
    > div:nth-child(1), > div:nth-child(2)
      width: 100%;
  

// ================================
// ===== Company Jobs =============
// ===== /components/company/CompanyJobs.js
// ===== /components/company/Job.js
// ================================

.company-jobs
  background: #0C3CD1;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  padding-left: 15px;
  padding-right: 15px;

  .company-jobs-container
    max-width: 1100px;
    margin: 0 auto;

    h3
      color: white;
    
    input
      background: #082990;
      border: solid 1px #082990;
      width: 100%;
      padding: 8px;
      padding-left: 14px;
      padding-right: 14px;
      margin-bottom: 1.45rem;
      color: white;

      &::placeholder 
        color: #6B8FFF;
    
    .jobs-list-container
      @include flex(row);
      justify-content: space-between;

      .job
        padding: 1em;
        width: 32%;
        display: block;
        background: white;
        border-radius: 3px;
        box-shadow: 0 14px 28px 0 rgba(143, 143, 143, 0.2);

        > div:nth-child(1)
          font-weight: bold;
        
        > div:nth-child(3)
          font-size: 16px;
          font-weight: bold;
          opacity: 0.8;

      @media (max-width: 800px) 
        flex-direction: column;
        .job
          width: 100%;
          margin-bottom: 1em;
          
// ================================
// ===== Company Jobs =============
// ===== /components/company/CompanyJobs.js
// ===== /components/company/Job.js
// ================================

.company-articles
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  background: #f8f8f8;
  padding-left: 15px;
  padding-right: 15px;

  .company-articles-container
    max-width: 1110px;
    margin: 0 auto;

    .company-articles-list-wrapper
      text-align: center;

// ==================================
// ===== Company Sections Container =
// ==================================

.company-sections-container
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  justify-content: flex-start;
